/* 自定义侧边栏图标 */
.icon-weixin,.icon-bilibili-fill{
	display: inline-block;
	font-size: 23px;
}
.icon-weixin{
	transform: rotate(0deg) !important;
}
.icon-weixin{
	color: #09bb07;
}
.icon-bilibili-fill{
	color: #0cb6f2;
}
.fa-github{
	color: black;
}
.fa-envelope{
	color: #f29600;
}
/* 清单 */
.icon-zhaopian1{
	font-size: 14px
}
/* 顶部导航条 */
.icon-zhiding1,.icon-leimu2{
	font-size: 14px
}

/* 颜色图标 */
.icon-icon-{
	color: red;
}