/* 技术栈图标 */
.icon-unchecked,.icon-box{
	font-size: 25px;
	color: #767a76;
}
.icon-box-isActive{
	color: #3c8ede !important;
}

.sl-stack{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sl-check{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sl-title-text-isActive{
	color: #3c8ede;
}
.sl-title-common{
	font-weight: 700;
	font-size: 20px;
	margin-left: 20px;
}

/* 顶部导航图标，hover状态下，统一颜色跟下划线 */
.site-page:hover .fa-search,
.site-page:hover .fa-bars,
.site-page:hover .fa-home,
.site-page:hover .icon-zhiding1, 
.site-page:hover .icon-leimu2,
.site-page:hover .fa-heartbeat,
.site-page:hover .icon-liuyanban-05,
.site-page:hover .icon-zhanku
{
	color: #80c8f8;
}

/* .site-page:hover i{
	color: #80c8f8;
}
 */
#site-name:hover{
	color: #80c8f8 !important;
}


/* 自定义侧边栏图标 */
.icon-weixin,
.icon-bilibili-fill {
	display: inline-block;
	font-size: 23px !important;
}

.icon-weixin {
	transform: rotate(0deg) !important;
}

.icon-weixin {
	color: #09bb07;
}

.icon-bilibili-fill {
	color: #fb7299;
}

.social-icon .fa-github {
	color: black;
}

.fa-envelope {
	color: #0cb6f2;
}

/* 清单 */
.icon-zhaopian1 {
	font-size: 14px
}

/* 顶部导航条 */
.icon-zhiding1,
.icon-leimu2 {
	font-size: 14px
}

/* 颜色图标 */
.icon-icon- {
	color: red;
}
