/* 侧边栏微信图标，显示图片提示 */

a[href *= "weixin.jpg"] i::after{
	content: ''; 
	display: flex;
	opacity: 0;
	visibility:hidden;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 142px;
	position: absolute;
	left: -80px !important;
	z-index: 999;
	bottom: 120px;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url('https://cdn.jsdelivr.net/gh/SimpleLifecst/simple@main//wechat_aside.jpg');
	background-size: auto 140px;
	background-color:rgb(252 252 252);
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius: 3px;
}
a[href *= "weixin.jpg"]:hover i::after{
	opacity: 1;
	bottom: 100px;
	visibility: visible;
	transition: all 1s linear;
	/* transition: bottom 1.5s; */
}


/* post-info是文章的标题，当top_img=false时 */

#post-info {
	text-align: center;
}
/* tabBar文章 */
@media screen and  (max-width: 768px) {
	.icon-home,.icon-categories,.icon-goshopping,.icon-profile{
		font-size: 20px !important;
	}
	.copyBtn{
		right: -37% !important;
		opacity: 0.4;
	}
}
@media screen and  (max-width: 414px) {
	.copyBtn{
		right: -23% !important;
	}
	
}
@media screen and  (min-width: 769px){
	.icon-home,.icon-categories,.icon-goshopping,.icon-profile{
		font-size: 40px !important;
	}
	
}
#copy_content{
	position: fixed;top: 0;left: 0;opacity: 0;z-index: -10;
}

#sl-tabBar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sl-tabBar-item:hover{
	border: 1px solid #428bca;
	border-radius: 10px;
	transition: border 1s;
}
.sl-tabBar-item span{
	margin-top: -30px;
}
.sl-tabBar-item:hover .copyBtn{
	visibility:visible;
	opacity: 1;
	transition: all 1s linear;
}
.copyBtn{
	opacity: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1px;
	color: white;
	border-width: 700;
	width: 50px;
	height: 25px;
	position: relative;
	top: 0;
	right: -38%;
	background-color: #428bca;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.sl-tabBar-item{
	border: 1px solid #f8f5f9;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sl-tabBar-item-text{
	text-align: center;
	line-height: 20px;
}
/* CSS3文章 */
#CSS3_round,
#CSS3_stretch {
	border: 15px solid transparent;
	width: 250px;
	padding: 10px 20px;
}

.sl_CSS3 {
	display: flex;
	justify-content: space-around;
}


#CSS3_round {
	-webkit-border-image: url('https://www.runoob.com/images/border.png') 30 30 round;
	/* Safari 5 and older */
	-o-border-image: url('https://www.runoob.com/images/border.png') 30 30 round;
	/* Opera */
	border-image: url('https://www.runoob.com/images/border.png') 30 30 round;
}

#CSS3_stretch {
	-webkit-border-image: url('https://www.runoob.com/images/border.png') 30 30 stretch;
	/* Safari 5 and older */
	-o-border-image: url('https://www.runoob.com/images/border.png') 30 30 stretch;
	/* Opera */
	border-image: url('https://www.runoob.com/images/border.png') 30 30 stretch;
}

#CSS_shadow {
	text-shadow: 5px 5px 5px #ff0000;
	font-size: 25px;
}
#myfirst {
    animation: myfirst 4s;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
		background: blue;
		color: #FFFFFF;
}
        
@keyframes myfirst {
    0% {
        background: blue;
    }
    25% {
        background: yellow;
        transform: rotate(360deg);
        transition: all 1s;
        margin-left: 400px;
    }
    50% {
        background: red;
    }
    100% {
        background: chocolate;
    }
}

/* CSS3文章 */

/* 评论区背景图 */
.veditor {
	background-image: url('https://gitee.com/lovehuating/image/raw/master/coments.png') !important;
	background-position: right bottom !important;
	background-repeat: no-repeat !important;
}

/* 评论区背景图 */
/* post文章样式 */
.downBtn {
	border-radius: 5px;
	width: 120px;
	height: 30px;
	color: #563d7c;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	border: 1px solid #563d7c;
}

.downBtn:hover {
	background-color: #563d7c;
	color: #FFFFFF;
	cursor: pointer;
}


.down_content {
	/* height: 120px; */
	/* word-break: break-all; */
	flex-wrap: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	/** 将对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical;
	/** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 2;
	/** 显示的行数 **/
	overflow: hidden;
	/** 隐藏超出的内容 **/
}



.sl_jingxuan {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}


.sl_img {
	/* flex: 1; */
	/* margin: 20px 10px; */
	width: 31%;
}

.sl_img>img {
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 3px 3px;
}

.sl_img>img:hover {
	border: 1px solid #337ab7;
}

.sl_img p {
	line-height: 20px;
	position: relative;
	top: -15px;
}

.sl_img div {
	cursor: pointer;
}


/* SimpleLife网站收藏 */


/* 百宝阁 */

#myblog_changjingge {
	padding: 0;
	margin: 0;
}

.siderbar ul,
.main ul {
	list-style: none;
}

.siderbar {
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	left: -250px;
	/* background-color: #042331; */
	transition: all 0.5s;
	z-index: 998;
}

.siderbar h1 {
	margin: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	user-select: none;
	font-size: 30px;
	color: #000;
	background-color: #fff;
}

.siderbar ul {
	overflow: hidden;
}

.siderbar ul a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, .1);
	text-decoration: none;
	font-size: 18px;
	transition: all 0.5s;
}

.siderbar li a i {
	margin-right: 20px;
}

.siderbar ul a:hover {
	margin-left: 10px;
	color: #fff;
}

#check {
	display: none;
}

#show {
	background-color: #fff;
	color: #aaa;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	position: fixed;
	top: 20px;
	left: 20px;
	transition: all 0.5s;
	cursor: pointer;
	z-index: 997;
}

#cancel {
	background-color: #042331;
	color: #aaa;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
	position: fixed;
	top: 43px;
	left: -40px;
	z-index: 999;
	cursor: pointer;
	transition: all 0.5s;
}

#show:hover,
#cancel:hover {
	color: #eee;
}

#show::before,
#cancel::before {
	line-height: 20px;
}

#check:checked~.siderbar {
	left: 0px;
}

#check:checked~label #cancel {
	left: 210px;
}

#myblog_changjingge section {
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 1;
	transition: all 0.5s;
	height: 100vh;
	padding: 5% 10%;
	box-sizing: border-box;
}

#check:checked~section {
	margin-left: 250px;
}

.main {
	background-color: #fff;
	height: 100%;
	padding: 20px 50px;
	border-radius: 20px;
	box-sizing: border-box;
	overflow: auto;
	-ms-overflow-style: none;
}

.main h3 {
	color: #000;
	background-color: #fff;
}

.main::-webkit-scrollbar {
	display: none;
}

/* 评论区博主查称号 */

#sl {
	margin-left: 5px;
	border: 1px solid #89ccbe;
	color: #89ccbe;
	border-radius: 2px;
	padding: 0 5px;
	text-align: center;
	background: -webkit-linear-gradient(0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
	background: -moz-linear-gradient(0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
	background: -o-linear-gradient(0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
	background: -ms-linear-gradient(0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
	background: linear-gradient(90deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100%);
}
