<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleLife - 百宝盒</title>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/SimpleLifecst/simple@main//Snipaste_2021-05-16_20-41-27.ico">
    <link rel="stylesheet" href="../../custom_css/navstyle.css">
    <link rel="stylesheet" href="../css/font.css">
</head>


<body>
    <div id="app">

        <div id="myblog_changjingge" v-cloak>
            <input type="checkbox" id="check">
            <label for="check">
                <i v-show="isShow" class="iconfont  icon-liebiao" aria-hidden="true" id="show"
                    @click="handleShowHide"></i>
                <i class="iconfont  icon-xiangzuo" aria-hidden="true" id="cancel" @click="handleShowHide"></i>
                <i v-show="!isShow" aria-hidden="true" id="cancel1"  @click="handleShowHide">
                    <div class="app_hidden_click">
                        <div class="app_hidden_click1"></div>
                        <div class="app_hidden_click2"></div>
                        <div class="app_hidden_click3"></div>
                    </div>
                    
                </i>
                <a href="http://www.noti.top/" target="_blank">
                    <i class="iconfont  icon-home" aria-hidden="true" id="cancel_home"></i>
                </a>
            </label>
            <label v-show="isShow">
                <a href="http://www.noti.top/" target="_blank"> <i class="iconfont  icon-home" aria-hidden="true"
                        id="showHome"></i></a>
            </label>
            <div class="siderbar">
                <ul v-for="(item,index) in navbar" :key="index">
                    <li @click="handleActiveSelect(index)">
                        <a href="#" :class="{'topActive':index===currentindex}">
                            <i class="iconfont" :class=item.icon></i>
                            <span :class="{'active':index===currentindex}">{{item.name}}</span>
                        </a>
                    </li>
                </ul>

            </div>
            <section>
                <div class="main" v-cloak>
                    <ul>
                        <li>
                            <h3><span class="iconfont" :class=navbar[currentindex].icon></span>{{navbar[currentindex].name}}</h3>
                            <div v-show="navbar[0].name===navbar[currentindex].name">
                                <!-- 这个是文档查询的子组件 -->
                                <cpn></cpn>
                            </div>
                            <div v-show="navbar[1].name===navbar[currentindex].name">
                                <www></www>
                            </div>
                            <div v-show="navbar[2].name===navbar[currentindex].name">
                                <div class="site_self_content_wrap">
                                    关于本站Simplelife，这里有更多的文档供你查询
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </section>
            <div class="footer">
                <footer id="footer">
                    <div class="copyright">©2021 By SimpleLife</div>
                    <div class="footer_custom_text">一个简单的人，做一件简单的事</div>
                </footer>
            </div>

        </div>

    </div>




    <template id="cpn">
        <div class="cpn">
            <ul>
                <li v-for="(item,index) in file" :key="index">
                    <a :href="item.url" target="_blank">
                        <div class="cpn_wrap">
                            <!-- logo -->
                            <div class="cpn_logo">
                                <img :src="item.avator">
                            </div>
                            <!-- 描述性内容 -->
                            <div class="cpn_content">
                                <div class="content_title sl_ItmeColor">{{item.name}}</div>
                                <div  class="content_content sl_ItmeColor">{{item.desc}}</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </template>
    <template id="www">
        <div class="www">
            <ul>
                <li v-for="(item,index) in www" :key="index">
                    <button class="www_title draw">{{item.name}}</button>
                    <ul class="www_sun_ul">
                        <li v-for="(child,index) in item.children" :key="index">
                            <a :href="child.url" target="_blank">
                                <div class="cpn_wrap">
                                    <!-- logo -->
                                    <div class="cpn_logo">
                                        <img :src="child.avator">
                                    </div>
                                    <!-- 描述性内容 -->
                                    <div class="cpn_content">
                                        <div class="content_title">{{child.name}}</div>
                                        <div class="content_content">{{child.desc}}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </template>

    <!-- js -->
    <script src="../vue/vue.js"></script>
    <script>
        // 文档查询
        const cpn = Vue.extend({
            template: '#cpn',
            data() {
                return {
                    file: [{
                        id: 0,
                        url: 'https://developers.weixin.qq.com/miniprogram/dev/framework/',
                        name: '微信官方文档',
                        avator: 'https://gitee.com/lovehuating/image/raw/master/wechat2.png',
                        desc: '微信小程序开发文档'
                    }, {
                        id: 1,
                        url: 'https://cn.vuejs.org/v2/guide/',
                        name: 'Vue.js官方文档',
                        avator: 'https://cdn.jsdelivr.net/gh/SimpleLifecst/simple@main//vue.png',
                        desc: '渐进式JavaScript 框架'
                    }, {
                        id: 2,
                        url: 'https://www.bootcss.com/',
                        name: 'Bootstrap',
                        avator: 'https://cdn.jsdelivr.net/gh/SimpleLifecst/simple@main//53.png',
                        desc: '简洁、直观、强悍的前端开发框架，让web开发更迅速、简单'
                    }, {
                        id: 3,
                        url: 'https://developer.mozilla.org/en-US/',
                        name: 'Web开发者的文档',
                        avator: 'https://cdn.jsdelivr.net/gh/SimpleLifecst/simple@main//mdnweb.png',
                        desc: '前端开发技术文档'
                    }, {
                        id: 4,
                        url: 'https://www.runoob.com/html/html5-intro.html/',
                        name: 'HTML5',
                        avator: 'https://cdn.jsdelivr.net/gh/SimpleLifecst/simple@main//6465.png',
                        desc: '最新的HTMl5文档查询'
                    }, {
                        id: 5,
                        url: 'https://www.webpackjs.com/',
                        name: 'Webpack',
                        avator: 'https://gitee.com/lovehuating/image/raw/master/webpack.png',
                        desc: '前端资源模块化管理和打包工具'
                    }, {
                        id: 6,
                        url: 'https://typescript.bootcss.com/',
                        name: 'Typescript',
                        avator: 'https://typescript.bootcss.com/images/typescript-icon.svg',
                        desc: 'TypeScript 是由微软开源的编程语言。它是 JavaScript 的一个超集'
                    }, {
                        id: 7,
                        url: 'https://www.npmjs.cn/',
                        name: 'npm 中文文档',
                        avator: 'https://www.npmjs.cn/images/npm.svg',
                        desc: 'NPM 可以让 JavaScript 开发者在共享代码、复用代码以及更新共享的代码上更加方便。'
                    }, {
                        id: 8,
                        url: 'https://less.bootcss.com/',
                        name: 'Less',
                        avator: 'https://gitee.com/lovehuating/image/raw/master/less_logo.png',
                        desc: 'LESS 为 CSS 赋予了动态语言的特性，如变量、继承、运算、函数'
                    }, {
                        id: 8,
                        url: 'https://www.nodeapp.cn/',
                        name: 'Node.js',
                        avator: 'https://gitee.com/lovehuating/image/raw/master/Nodejs.png',
                        desc: 'Node.js 是一个基于 Chrome V8 引擎的 JavaScript 运行环境'
                    }]

                }
            },
        })
        const www = Vue.extend({
            template: '#www',
            data() {
                return {
                    www: [{
                        name: "娱乐",
                        children: [{
                            url: 'http://www.360yy.cn/',
                            name: 'Vip影院',
                            avator: 'https://gitee.com/lovehuating/image/raw/master/vipCarmen.png',
                            desc: '免VIP抢先观看最新电影和电视剧'
                        }, {
                            url: 'http://www.nangua5.com/',
                            name: '南瓜电影',
                            avator: 'https://gitee.com/lovehuating/image/raw/master/nagua.png',
                            desc: '高清电影电视剧在线播放'
                        }, {
                            url: 'http://shoujizhan.cn/',
                            name: '喝茶影视',
                            avator: 'https://gitee.com/lovehuating/image/raw/master/logo%20(1).png',
                            desc: '手机网免费电影'
                        }, {
                            url: 'https://www.pianku.li/',
                            name: '片库',
                            avator: 'https://gitee.com/lovehuating/image/raw/master/pianku.png',
                            desc: '全网高清影视聚合'
                        }, {
                            url: 'https://v.qq.com/',
                            name: '腾讯视频',
                            avator: 'https://gitee.com/lovehuating/image/raw/master/%E8%85%BE%E8%AE%AF%E8%A7%86%E9%A2%91-01.png',
                            desc: '中国领先的在线视频媒体平台,海量影视'
                        }, {
                            url: 'https://www.iqiyi.com/',
                            name: '爱奇艺',
                            avator: 'https://gitee.com/lovehuating/image/raw/master/%E7%88%B1%E5%A5%87%E8%89%BA-01.png',
                            desc: '海量正版高清视频'
                        }, {
                            url: 'https://www.bilibili.com/',
                            name: '哔哩哔哩',
                            avator: 'https://gitee.com/lovehuating/image/raw/master/bili.png',
                            desc: '哔哩哔哩~二次元'
                        }]
                    }]
                }
            }
        })

        const app = new Vue({
            el: '#app',
            data: {
                currentindex: 0,
                isShow: true,
                isShowContent: true,
                navbar: [{
                    icon: 'icon-wendang1',
                    name: '文档查询'
                }, {
                    icon: 'icon-wangzhan',
                    name: '网站收藏'
                }, {
                    icon: 'icon-information',
                    name: '关于本站'
                }]
            },
            methods: {
                handleShowHide() {
                    this.isShow = !this.isShow
                },
                handleActiveSelect(index) {
                    this.currentindex = index
                    this.navbar[index].id = this.currentindex
                }
            },
            components: {
                cpn,
                www
            }
        })
    </script>
</body>

</html>